body {
  margin: 25px;
  background-image: linear-gradient(to right, rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url('../pictures/chalkboard.jpg');
  background-position: center,center;
  background-size: 70%, auto;
  background-repeat: repeat-y, no-repeat;
  
  font-family: arial, sans-serif;
  font-size: 14px;
  font-color: black;
  margin-left: 20%;
  margin-right: 20%;
}
