body {
  margin: 25px;
  background-image: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../pictures/chalkboard.jpg');
  font-family: arial, sans-serif;
  font-size: 14px;
  font-color: black;
}
